
.DS_Store
Benchmark/.DS_Store
Benchmark/File-stability/data/aggregated.avro
Benchmark/File-stability/data/aggregated.csv
Benchmark/File-stability/data/aggregated.snappy.parquet
Benchmark/File-stability/data/aggregated.xlsx
Benchmark/File-stability/data/aggregated_10MB.avro
Benchmark/File-stability/data/aggregated_10MB.csv
Benchmark/File-stability/data/aggregated_10MB.snappy.parquet
Benchmark/File-stability/data/aggregated_10MB.xlsx
Benchmark/File-stability/data/aggregated_15MB.avro
Benchmark/File-stability/data/aggregated_15MB.csv
Benchmark/File-stability/data/aggregated_15MB.snappy.parquet
Benchmark/File-stability/data/aggregated_15MB.xlsx
Benchmark/File-stability/data/aggregated_1MB.avro
Benchmark/File-stability/data/aggregated_1MB.csv
Benchmark/File-stability/data/aggregated_1MB.snappy.parquet
Benchmark/File-stability/data/aggregated_1MB.xlsx
Benchmark/File-stability/data/aggregated_20MB.avro
Benchmark/File-stability/data/aggregated_20MB.csv
Benchmark/File-stability/data/aggregated_20MB.snappy.parquet
Benchmark/File-stability/data/aggregated_20MB.xlsx
Benchmark/File-stability/data/aggregated_512KB.avro
Benchmark/File-stability/data/aggregated_512KB.csv
Benchmark/File-stability/data/aggregated_512KB.snappy.parquet
Benchmark/File-stability/data/aggregated_512KB.xlsx
Benchmark/File-stability/data/aggregated_5MB.avro
Benchmark/File-stability/data/aggregated_5MB.csv
Benchmark/File-stability/data/aggregated_5MB.snappy.parquet
Benchmark/File-stability/data/aggregated_5MB.xlsx
Benchmark/File-stability/data/aggregated_full.snappy.parquet
Benchmark/File-stability/scripts/hello.world
